.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;

  .content{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    height: 80%;
    max-height: 80%;

    .box1{
      background-color: var(--gray);
      border-radius: .4rem;
      display: flex;
      padding: 1rem;
      width: 30%;
      height: 100%;
      flex-direction: column;
      max-height: 100%;

      >h1{
        color: var(--primary);
      }

      >ul{
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 100%;
        padding: 0 0;
      }
    }

    .box2{
      width: 68%;
      height: 100%;
    }

  }


}